*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Days One', sans-serif;
}

:root {
--backgroundColor: #242933;
--btnColor: #EC4C56;
--fontLight: white;
--fontDark: black;
--wrongColor: red;
--correctColor: green;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--backgroundColor);

}

.container {
    max-width: 75%;
    background-color: #596172;
    border-radius: 10px;
    padding: 10px;

}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    margin: 20px;
}

.btn {
    background-color: var(--btnColor);
    border: 2px solid hsl(--btnColor, 100%, 50%);
    border-radius: 5px;
    padding: 10px 15px;
    color: var(--fontDark)
    
}

.btn:hover {
    border-color: white;
    color:var(--fontLight)
}

.start-btn, .next-btn {
    font-size: 1rem;
    font-weight: bolder;
    padding: 10px 15px;
}

.controls {
    display:flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display:none;
}

button.correct {
    background: var(--correctColor);
}

button.wrong {
    background: var(--wrongColor);
}